[*.cs]
file_header_template = Copyright 2021 Carl Reinke\n\nThis file is part of a program that is licensed under the terms of the GNU\nLesser General Public License Version 3 as published by the Free Software\nFoundation.\n\nThis license does not grant rights under trademark law for use of any trade\nnames, trademarks, or service marks.
